body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #222222;
    padding: 15px 20px 15px 50px;
    color: white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#navegacion-principal {
    display: flow-root;
}

.flotar-izquierda {
    float: left;
    border: 2px solid red;
    width: 45%;
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.flotar-derecha {
    float: right;
    border: 2px solid red;
    width: 45%;
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.fondo-negro {
    background: #000;
}

.barra {
    float: left;
    width: 96%;
    margin: 25px;
    padding: 10px;
    background-color: black;
    height: 1px;
    border-radius: 25px;
}

#navegacion-secundaria {
    display: flow-root;
}

.flotar-iz {
    float: left;
    border: 2px solid red;
    width: 25%;
    height: 100px;
    margin: 20px;
    padding: 20px;
}